body {
  font-family: sans-serif;
  width: 90%;
  margin: auto;
  background: linear-gradient(90deg, #7adcdf 0, #0c4464 58%);
}

h1 {
  color: white;
}

img {
  width: auto;
  height: 250px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.card {
  box-shadow: 10px 10px 5px 0px rgb(19, 20, 44);
  margin: 30px;
  text-align: center;
  padding-bottom: 20px;
  border-radius: 1rem;

  /* apply a glassmorphism effect */
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  position: relative;
}

.card-img-overlay {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 45px;
  height: 45px;
}

.shape {
  position: absolute;
  width: 700px;
  top: 17.8rem;
  left: 2.2rem;
}

/* add a smooth or easy transition on hover & a cursor pointer */
.fa-plus-circle {
  cursor: pointer;
  color: rgb(124, 191, 236);
}

.fa-plus-circle:hover {
  cursor: pointer;
  transition: 0.3s ease;
  color: rgb(148, 203, 240);
}

.svg-snowflake {
  position: absolute;
  width: 700px;
  top: 27.8rem;
  left: 16.2rem;
}

.svg-icicle {
  position: absolute;
  width: 700px;
  top: 23.8rem;
  left: 11.2rem;
}

.svg-ornamental-snowflakes {
  position: absolute;
  width: 700px;
  top: 46rem;
  left: 22rem;
}

.add-btn {
  color: rgba(246, 246, 255, 0.822);
}
